## **Study Replication**

In this notebook I am going to train and AdaBoost model on their features.

In their approach each subject has a bespoke model, trained only on their data.

Their features and code can be found [here](https://github.com/TAMU-ESP/Graphene_BP/tree/main).

In [6]:
import pandas as pd

##### I am going to replicate the default version of their code.
This uses f2_ma10_mn1_cn1_all.csv.

Load the datasets.

In [7]:
df = pd.read_csv("../../data/Graphene_BP-Data-features/2020-11-05/f2_ma10_mn1_cn1_all.csv")
df

,Sample,subject_id,setup_n,trial_n,fc,B1_MS__T,B2_MS__T,B3_MS__T,B4_MS__T,PPG_MS__T,...,P_D2D__IPA,P_D2M__IPAR,P_D2S__IPAR,P_D2I__IPAR,DBP,SBP,setup_name,exp_name,Sample_c,exp_setup_name
0,1,1,1,1,9375,1.362176,1.360896,1.350357,1.374123,1.400405,...,21.125804,0.075600,0.350191,0.964550,77.150605,120.531853,setup01_baseline,subject1_day1,1,subject1_day1_setup01_baseline
1,2,1,1,1,9375,2.039125,2.038059,2.022869,44.407641,2.075989,...,22.057734,0.074614,0.346211,0.955513,76.467119,121.353248,setup01_baseline,subject1_day1,2,subject1_day1_setup01_baseline
2,3,1,1,1,9375,2.698155,2.696491,2.683776,2.692992,2.734208,...,22.677360,0.073067,0.336330,0.941976,76.822703,122.553652,setup01_baseline,subject1_day1,3,subject1_day1_setup01_baseline
3,4,1,1,1,9375,3.346560,3.344512,3.336363,3.336192,3.381205,...,19.052404,0.079666,0.362136,0.994654,77.719712,120.973820,setup01_baseline,subject1_day1,4,subject1_day1_setup01_baseline
4,5,1,1,1,9375,3.966464,3.965227,3.948117,44.407641,4.001707,...,20.579856,0.077619,0.353275,0.935495,78.902194,120.850108,setup01_baseline,subject1_day1,5,subject1_day1_setup01_baseline
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29804,1992,1,3,14,9375,84.028971,84.031616,84.012544,48.203017,84.071253,...,12.323505,0.128618,0.407596,0.978555,78.578980,126.779706,setup03_valsalva,subject1_day4,7822,subject1_day4_setup03_valsalva
29805,1993,1,3,14,9375,84.642219,84.637995,84.635691,48.203017,84.685312,...,9.000323,0.118125,0.453181,0.950402,76.598455,127.226945,setup03_valsalva,subject1_day4,7823,subject1_day4_setup03_valsalva
29806,1994,1,3,14,9375,85.283584,85.280512,42.889860,85.273728,85.323989,...,15.393642,0.203967,0.447446,0.949446,74.924877,123.889615,setup03_valsalva,subject1_day4,7824,subject1_day4_setup03_valsalva
29807,1995,1,3,14,9375,85.918933,85.914752,42.889860,48.203017,85.962283,...,12.130614,0.186940,0.460745,0.964781,74.088953,121.692170,setup03_valsalva,subject1_day4,7825,subject1_day4_setup03_valsalva
29808,1996,1,3,14,9375,86.541312,86.539307,42.889860,48.203017,86.582485,...,12.328871,0.147680,0.414923,0.932143,73.632324,121.984657,setup03_valsalva,subject1_day4,7826,subject1_day4_setup03_valsalva

In [8]:
df['Sample'].unique()

array([   1,    2,    3, ..., 5828, 5829, 5830])

Sample appears to refer to beat number over experiment for each subject

In [15]:
df[df['Sample'] == 2]

,Sample,subject_id,setup_n,trial_n,fc,B1_MS__T,B2_MS__T,B3_MS__T,B4_MS__T,PPG_MS__T,...,P_D2D__IPA,P_D2M__IPAR,P_D2S__IPAR,P_D2I__IPAR,DBP,SBP,setup_name,exp_name,Sample_c,exp_setup_name
1,2,1,1,1,9375,2.039125,2.038059,2.022869,44.407641,2.075989,...,22.057734,0.074614,0.346211,0.955513,76.467119,121.353248,setup01_baseline,subject1_day1,2,subject1_day1_setup01_baseline
5831,2,2,1,1,9375,1.727403,1.715499,1.709952,1.710720,1.766443,...,19.440707,0.055817,0.285220,0.803931,79.928915,118.049336,setup01_baseline,subject2_day2,2,subject2_day2_setup01_baseline
11127,2,3,1,1,9375,1.965525,1.955669,1.970688,1.969621,2.010752,...,38.278322,0.037885,0.204158,0.720968,64.345686,162.229621,setup01_baseline,subject3_day2,2,subject3_day2_setup01_baseline
15257,2,4,1,1,9375,2.229589,25.840331,42.793015,2.213376,2.253824,...,8.740951,0.038658,0.230731,0.675597,68.120081,118.582274,setup01_baseline,subject4_day3,2,subject4_day3_setup01_baseline
20196,2,5,1,1,9375,2.115413,2.094421,2.085333,42.127362,2.140928,...,23.532410,0.025394,0.156322,0.528643,69.689470,153.591852,setup01_baseline,subject5_day3,2,subject5_day3_setup01_baseline
23662,2,6,1,1,9375,2.384768,2.382037,2.372523,51.743351,2.427733,...,20.185562,0.064306,0.281594,0.582080,82.618741,138.938984,setup01_baseline,subject6_day4,2,subject6_day4_setup01_baseline
27814,2,1,1,1,9375,1.836715,1.842901,37.626407,30.142091,1.881429,...,8.553008,0.112367,0.416285,0.969473,94.529056,144.579657,setup01_hgcp,subject1_day4,5832,subject1_day4_setup01_hgcp

They actually leave out subject 7.

In [9]:
print(df['subject_id'].unique())

[1 2 3 4 5 6]