## **Study Replication**

In this notebook I am going to train and AdaBoost model on their features.

Their features and code can be found [here](https://github.com/TAMU-ESP/Graphene_BP/tree/main).

In [4]:
import pandas as pd

##### I am going to replicate the default version of their code.
This uses f2_ma10_mn1_cn1_all.csv.

Load the datasets.

In [5]:
df = pd.read_csv("../../data/Graphene_BP-Data-features/2020-11-05/f2_ma10_mn1_cn1_all.csv")
# df2 = pd.read_csv("../../data/Graphene_BP-Data-features/2020-11-05/f2_ma10_mn1_cn1_mean_all.csv")
# df3 = pd.read_csv("../../data/Graphene_BP-Data-features/2020-11-05/f2_ma20_mn1_all.csv")
# df4 = pd.read_csv("../../data/Graphene_BP-Data-features/2020-11-05/f2_ma20_mn1_mean_all.csv")

In [6]:
display(df)
# display(df2)
# display(df3)
# display(df4)

,Sample,subject_id,setup_n,trial_n,fc,B1_MS__T,B2_MS__T,B3_MS__T,B4_MS__T,PPG_MS__T,...,P_D2D__IPA,P_D2M__IPAR,P_D2S__IPAR,P_D2I__IPAR,DBP,SBP,setup_name,exp_name,Sample_c,exp_setup_name
0,1,1,1,1,9375,1.362176,1.360896,1.350357,1.374123,1.400405,...,21.125804,0.075600,0.350191,0.964550,77.150605,120.531853,setup01_baseline,subject1_day1,1,subject1_day1_setup01_baseline
1,2,1,1,1,9375,2.039125,2.038059,2.022869,44.407641,2.075989,...,22.057734,0.074614,0.346211,0.955513,76.467119,121.353248,setup01_baseline,subject1_day1,2,subject1_day1_setup01_baseline
2,3,1,1,1,9375,2.698155,2.696491,2.683776,2.692992,2.734208,...,22.677360,0.073067,0.336330,0.941976,76.822703,122.553652,setup01_baseline,subject1_day1,3,subject1_day1_setup01_baseline
3,4,1,1,1,9375,3.346560,3.344512,3.336363,3.336192,3.381205,...,19.052404,0.079666,0.362136,0.994654,77.719712,120.973820,setup01_baseline,subject1_day1,4,subject1_day1_setup01_baseline
4,5,1,1,1,9375,3.966464,3.965227,3.948117,44.407641,4.001707,...,20.579856,0.077619,0.353275,0.935495,78.902194,120.850108,setup01_baseline,subject1_day1,5,subject1_day1_setup01_baseline
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29804,1992,1,3,14,9375,84.028971,84.031616,84.012544,48.203017,84.071253,...,12.323505,0.128618,0.407596,0.978555,78.578980,126.779706,setup03_valsalva,subject1_day4,7822,subject1_day4_setup03_valsalva
29805,1993,1,3,14,9375,84.642219,84.637995,84.635691,48.203017,84.685312,...,9.000323,0.118125,0.453181,0.950402,76.598455,127.226945,setup03_valsalva,subject1_day4,7823,subject1_day4_setup03_valsalva
29806,1994,1,3,14,9375,85.283584,85.280512,42.889860,85.273728,85.323989,...,15.393642,0.203967,0.447446,0.949446,74.924877,123.889615,setup03_valsalva,subject1_day4,7824,subject1_day4_setup03_valsalva
29807,1995,1,3,14,9375,85.918933,85.914752,42.889860,48.203017,85.962283,...,12.130614,0.186940,0.460745,0.964781,74.088953,121.692170,setup03_valsalva,subject1_day4,7825,subject1_day4_setup03_valsalva
29808,1996,1,3,14,9375,86.541312,86.539307,42.889860,48.203017,86.582485,...,12.328871,0.147680,0.414923,0.932143,73.632324,121.984657,setup03_valsalva,subject1_day4,7826,subject1_day4_setup03_valsalva

In [7]:
df

,Sample,subject_id,setup_n,trial_n,fc,B1_MS__T,B2_MS__T,B3_MS__T,B4_MS__T,PPG_MS__T,...,P_D2D__IPA,P_D2M__IPAR,P_D2S__IPAR,P_D2I__IPAR,DBP,SBP,setup_name,exp_name,Sample_c,exp_setup_name
0,1,1,1,1,9375,1.362176,1.360896,1.350357,1.374123,1.400405,...,21.125804,0.075600,0.350191,0.964550,77.150605,120.531853,setup01_baseline,subject1_day1,1,subject1_day1_setup01_baseline
1,2,1,1,1,9375,2.039125,2.038059,2.022869,44.407641,2.075989,...,22.057734,0.074614,0.346211,0.955513,76.467119,121.353248,setup01_baseline,subject1_day1,2,subject1_day1_setup01_baseline
2,3,1,1,1,9375,2.698155,2.696491,2.683776,2.692992,2.734208,...,22.677360,0.073067,0.336330,0.941976,76.822703,122.553652,setup01_baseline,subject1_day1,3,subject1_day1_setup01_baseline
3,4,1,1,1,9375,3.346560,3.344512,3.336363,3.336192,3.381205,...,19.052404,0.079666,0.362136,0.994654,77.719712,120.973820,setup01_baseline,subject1_day1,4,subject1_day1_setup01_baseline
4,5,1,1,1,9375,3.966464,3.965227,3.948117,44.407641,4.001707,...,20.579856,0.077619,0.353275,0.935495,78.902194,120.850108,setup01_baseline,subject1_day1,5,subject1_day1_setup01_baseline
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29804,1992,1,3,14,9375,84.028971,84.031616,84.012544,48.203017,84.071253,...,12.323505,0.128618,0.407596,0.978555,78.578980,126.779706,setup03_valsalva,subject1_day4,7822,subject1_day4_setup03_valsalva
29805,1993,1,3,14,9375,84.642219,84.637995,84.635691,48.203017,84.685312,...,9.000323,0.118125,0.453181,0.950402,76.598455,127.226945,setup03_valsalva,subject1_day4,7823,subject1_day4_setup03_valsalva
29806,1994,1,3,14,9375,85.283584,85.280512,42.889860,85.273728,85.323989,...,15.393642,0.203967,0.447446,0.949446,74.924877,123.889615,setup03_valsalva,subject1_day4,7824,subject1_day4_setup03_valsalva
29807,1995,1,3,14,9375,85.918933,85.914752,42.889860,48.203017,85.962283,...,12.130614,0.186940,0.460745,0.964781,74.088953,121.692170,setup03_valsalva,subject1_day4,7825,subject1_day4_setup03_valsalva
29808,1996,1,3,14,9375,86.541312,86.539307,42.889860,48.203017,86.582485,...,12.328871,0.147680,0.414923,0.932143,73.632324,121.984657,setup03_valsalva,subject1_day4,7826,subject1_day4_setup03_valsalva

In [8]:
df.groupby('subject_id')

In [9]:
df.columns

Index(['Sample', 'subject_id', 'setup_n', 'trial_n', 'fc', 'B1_MS__T',
       'B2_MS__T', 'B3_MS__T', 'B4_MS__T', 'PPG_MS__T', 'BR1_MS__A',
       'BR2_MS__A', 'BR3_MS__A', 'BR4_MS__A', 'BI1_MS__A', 'BI2_MS__A',
       'BI3_MS__A', 'BI4_MS__A', 'BI1_D2S__A', 'BI2_D2S__A', 'BI3_D2S__A',
       'BI4_D2S__A', 'PPG_MS__IBI', 'B1_MS__IBI', 'B2_MS__IBI', 'B3_MS__IBI',
       'B4_MS__IBI', 'B1_B2_MS__PTT', 'B1_B3_MS__PTT', 'B1_B4_MS__PTT',
       'B2_B3_MS__PTT', 'B2_B4_MS__PTT', 'B3_B4_MS__PTT', 'B1_D2M__TR',
       'B2_D2M__TR', 'B3_D2M__TR', 'B4_D2M__TR', 'B1_D2S__TR', 'B2_D2S__TR',
       'B3_D2S__TR', 'B4_D2S__TR', 'B1_D2I__TR', 'B2_D2I__TR', 'B3_D2I__TR',
       'B4_D2I__TR', 'B1_D2S__A', 'B2_D2S__A', 'B3_D2S__A', 'B4_D2S__A',
       'B1_D2M__AR', 'B2_D2M__AR', 'B3_D2M__AR', 'B4_D2M__AR', 'B1_D2I__AR',
       'B2_D2I__AR', 'B3_D2I__AR', 'B4_D2I__AR', 'B1_D2D__IPA', 'B2_D2D__IPA',
       'B3_D2D__IPA', 'B4_D2D__IPA', 'B1_D2M__IPAR', 'B2_D2M__IPAR',
       'B3_D2M__IPAR', 'B4_D2M__IPAR', 'B1_D2S__IPAR', 'B2_D2S__IPAR',
       'B3_D2S__IPAR', 'B4_D2S__IPAR', 'B1_D2I__IPAR', 'B2_D2I__IPAR',
       'B3_D2I__IPAR', 'B4_D2I__IPAR', 'P_D2M__TR', 'P_D2S__TR', 'P_D2I__TR',
       'P_D2S__A', 'P_D2M__AR', 'P_D2I__AR', 'P_D2D__IPA', 'P_D2M__IPAR',
       'P_D2S__IPAR', 'P_D2I__IPAR', 'DBP', 'SBP', 'setup_name', 'exp_name',
       'Sample_c', 'exp_setup_name'],
      dtype='object')

In [10]:
display(df[['subject_id', 'setup_n', 'trial_n']].drop_duplicates())

       subject_id  setup_n  trial_n
0               1        1        1
125             1        1        2
259             1        2        3
396             1        2        4
541             1        2        5
...           ...      ...      ...
28829           1        2        8
28979           1        2        9
29120           1        2       10
29527           1        3       13
29664           1        3       14

[251 rows x 3 columns]

In [11]:
print(len(df[['exp_setup_name']].drop_duplicates()))
display(df[['exp_setup_name']].drop_duplicates())

59

                                exp_setup_name
0               subject1_day1_setup01_baseline
259                 subject1_day1_setup02_hgcp
905                 subject1_day1_setup03_hgcp
1563                subject1_day1_setup04_hgcp
2229                subject1_day1_setup05_hgcp
2861                subject1_day1_setup06_hgcp
3492                subject1_day1_setup07_hgcp
4119                subject1_day1_setup08_hgcp
4782            subject1_day1_setup09_valsalva
5190    subject1_day1_setup10_postExerciseHgcp
5830            subject2_day2_setup01_baseline
6083                subject2_day2_setup02_hgcp
6732                subject2_day2_setup03_hgcp
7380                subject2_day2_setup04_hgcp
8023                subject2_day2_setup05_hgcp
8680                subject2_day2_setup06_hgcp
9312                subject2_day2_setup07_hgcp
9943            subject2_day2_setup08_valsalva
10454   subject2_day2_setup09_postExerciseHgcp
11126           subject3_day2_setup01_baseline
11337               subject3_day2_setup02_hgcp
11872               subject3_day2_setup03_hgcp
12413               subject3_day2_setup04_hgcp
12946               subject3_day2_setup05_hgcp
13469               subject3_day2_setup06_hgcp
13967               subject3_day2_setup07_hgcp
14472           subject3_day2_setup08_valsalva
14858   subject3_day2_setup09_postExerciseHgcp
15256           subject4_day3_setup01_baseline
15471               subject4_day3_setup02_hgcp
16063               subject4_day3_setup03_hgcp
16666               subject4_day3_setup04_hgcp
17251               subject4_day3_setup05_hgcp
17836               subject4_day3_setup06_hgcp
18425               subject4_day3_setup07_hgcp
19020           subject4_day3_setup08_valsalva
19454               subject4_day3_setup09_rest
19570   subject4_day3_setup10_postExerciseHgcp
20195           subject5_day3_setup01_baseline
20367           subject5_day3_setup02_baseline
20533               subject5_day3_setup03_hgcp
20986               subject5_day3_setup04_hgcp
21420               subject5_day3_setup05_hgcp
21884               subject5_day3_setup06_hgcp
22364               subject5_day3_setup07_hgcp
22846           subject5_day3_setup08_valsalva
23196   subject5_day3_setup09_postExerciseHgcp
23661           subject6_day4_setup01_baseline
23880               subject6_day4_setup02_hgcp
24479               subject6_day4_setup03_hgcp
25062               subject6_day4_setup04_hgcp
25625               subject6_day4_setup05_hgcp
26198               subject6_day4_setup06_hgcp
26777           subject6_day4_setup07_valsalva
26994       subject6_day4_setup08_postMealHgcp
27566  subject6_day4_setup09_postSweatBaseline
27813               subject1_day4_setup01_hgcp
28534               subject1_day4_setup02_hgcp
29258           subject1_day4_setup03_valsalva

In [12]:
print(len(df[['exp_setup_name', 'trial_n']].drop_duplicates()))
display(df[['exp_setup_name', 'trial_n']].drop_duplicates())

257

                       exp_setup_name  trial_n
0      subject1_day1_setup01_baseline        1
125    subject1_day1_setup01_baseline        2
259        subject1_day1_setup02_hgcp        3
396        subject1_day1_setup02_hgcp        4
541        subject1_day1_setup02_hgcp        5
...                               ...      ...
29120      subject1_day4_setup02_hgcp       10
29258  subject1_day4_setup03_valsalva       11
29382  subject1_day4_setup03_valsalva       12
29527  subject1_day4_setup03_valsalva       13
29664  subject1_day4_setup03_valsalva       14

[257 rows x 2 columns]

Sample appears to refer to beat number over experiment for each subject

In [13]:
df[df['Sample'] == 2]

,Sample,subject_id,setup_n,trial_n,fc,B1_MS__T,B2_MS__T,B3_MS__T,B4_MS__T,PPG_MS__T,...,P_D2D__IPA,P_D2M__IPAR,P_D2S__IPAR,P_D2I__IPAR,DBP,SBP,setup_name,exp_name,Sample_c,exp_setup_name
1,2,1,1,1,9375,2.039125,2.038059,2.022869,44.407641,2.075989,...,22.057734,0.074614,0.346211,0.955513,76.467119,121.353248,setup01_baseline,subject1_day1,2,subject1_day1_setup01_baseline
5831,2,2,1,1,9375,1.727403,1.715499,1.709952,1.710720,1.766443,...,19.440707,0.055817,0.285220,0.803931,79.928915,118.049336,setup01_baseline,subject2_day2,2,subject2_day2_setup01_baseline
11127,2,3,1,1,9375,1.965525,1.955669,1.970688,1.969621,2.010752,...,38.278322,0.037885,0.204158,0.720968,64.345686,162.229621,setup01_baseline,subject3_day2,2,subject3_day2_setup01_baseline
15257,2,4,1,1,9375,2.229589,25.840331,42.793015,2.213376,2.253824,...,8.740951,0.038658,0.230731,0.675597,68.120081,118.582274,setup01_baseline,subject4_day3,2,subject4_day3_setup01_baseline
20196,2,5,1,1,9375,2.115413,2.094421,2.085333,42.127362,2.140928,...,23.532410,0.025394,0.156322,0.528643,69.689470,153.591852,setup01_baseline,subject5_day3,2,subject5_day3_setup01_baseline
23662,2,6,1,1,9375,2.384768,2.382037,2.372523,51.743351,2.427733,...,20.185562,0.064306,0.281594,0.582080,82.618741,138.938984,setup01_baseline,subject6_day4,2,subject6_day4_setup01_baseline
27814,2,1,1,1,9375,1.836715,1.842901,37.626407,30.142091,1.881429,...,8.553008,0.112367,0.416285,0.969473,94.529056,144.579657,setup01_hgcp,subject1_day4,5832,subject1_day4_setup01_hgcp

They actually leave out subject 7.

In [14]:
print(df['subject_id'].unique())

[1 2 3 4 5 6]

> ##### **Default Approach**

In [15]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import cross_validate
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.model_selection import LeavePGroupsOut

Based on the github and the paper the default approach is to train an AdaBoost regressor on the HGCP beats in the f2_ma10_mn1_cn1_all.csv file.

In [16]:
training_df = df[df['setup_name'].str.contains('hgcp')]
training_df

,Sample,subject_id,setup_n,trial_n,fc,B1_MS__T,B2_MS__T,B3_MS__T,B4_MS__T,PPG_MS__T,...,P_D2D__IPA,P_D2M__IPAR,P_D2S__IPAR,P_D2I__IPAR,DBP,SBP,setup_name,exp_name,Sample_c,exp_setup_name
259,260,1,2,3,9375,1.525291,1.524139,1.515947,39.955872,1.554560,...,18.121776,0.080576,0.354606,0.976943,63.208871,98.935152,setup02_hgcp,subject1_day1,260,subject1_day1_setup02_hgcp
260,261,1,2,3,9375,2.122581,2.122411,40.020362,39.955872,2.150400,...,21.787226,0.071588,0.316662,0.921989,63.208871,98.935152,setup02_hgcp,subject1_day1,261,subject1_day1_setup02_hgcp
261,262,1,2,3,9375,2.759125,2.757077,2.742229,39.955872,2.785195,...,15.047568,0.084319,0.369813,0.999345,63.208871,98.935152,setup02_hgcp,subject1_day1,262,subject1_day1_setup02_hgcp
262,263,1,2,3,9375,3.396352,3.394048,3.392384,39.955872,3.425664,...,20.141221,0.071274,0.312326,0.926921,63.208871,98.935152,setup02_hgcp,subject1_day1,263,subject1_day1_setup02_hgcp
263,264,1,2,3,9375,4.012117,4.012459,4.002987,39.955872,4.040107,...,19.076827,0.070024,0.337812,0.953581,91.523408,127.848380,setup02_hgcp,subject1_day1,264,subject1_day1_setup02_hgcp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29253,1441,1,2,10,9375,44.490514,45.277333,39.759929,43.235898,83.689941,...,12.020046,0.085519,0.352969,0.793525,75.748906,119.029847,setup02_hgcp,subject1_day4,7271,subject1_day4_setup02_hgcp
29254,1442,1,2,10,9375,84.284885,84.283264,39.759929,43.235898,84.326784,...,11.210296,0.105705,0.402826,0.894539,77.211508,119.365062,setup02_hgcp,subject1_day4,7272,subject1_day4_setup02_hgcp
29255,1443,1,2,10,9375,84.929621,84.924032,39.759929,43.235898,84.971520,...,11.210296,0.105705,0.402826,0.894539,75.894410,121.314037,setup02_hgcp,subject1_day4,7273,subject1_day4_setup02_hgcp
29256,1444,1,2,10,9375,85.580672,85.574613,39.759929,43.235898,85.620565,...,11.210296,0.105705,0.402826,0.894539,76.631175,118.728313,setup02_hgcp,subject1_day4,7274,subject1_day4_setup02_hgcp
29257,1445,1,2,10,9375,86.232277,86.228309,39.759929,43.235898,86.274901,...,11.210296,0.105705,0.402826,0.894539,74.325509,115.819161,setup02_hgcp,subject1_day4,7275,subject1_day4_setup02_hgcp

They impute NaNs using the mean values of the whole dataset.

Ideally imputation is done separately on each cross-validation fold to avoid data leakage.

In [17]:
def impute_nans(data):
    imp = SimpleImputer(missing_values=np.nan, strategy='mean')
    imp.fit(data)
    data_imp = imp.transform(data)
    return data_imp

DBP model

In [22]:
X = training_df.drop(columns=['Sample', 'subject_id', 'setup_n', 'trial_n', 'fc', 'DBP', 'SBP', 'setup_name', 'exp_name', 'Sample_c', 'exp_setup_name'])
y = training_df['DBP']

X = impute_nans(X)

# Initialise the AdaBoostRegressor
# They don't specify the model parameters so this will only be a rough replication
ada_boost = AdaBoostRegressor(random_state=1234, n_estimators=8)

# Perform 10-fold cross-validation with multiple scoring metrics
scoring_metrics = ['neg_mean_squared_error', 'r2']
scores = cross_validate(ada_boost, X, y, cv=10, scoring=scoring_metrics)

# Calculate RMSE from MSE scores
rmse_scores = np.sqrt(-scores['test_neg_mean_squared_error'])

# MSE scores
mse_scores = -scores['test_neg_mean_squared_error']
print(f"MSE scores for each fold: {mse_scores}")
print(f"Mean cross-validation MSE: {np.mean(mse_scores)} +- {np.std(mse_scores)}")

# RMSE scores
print(f"RMSE scores for each fold: {rmse_scores}")
print(f"Mean cross-validation RMSE: {np.mean(rmse_scores)} +- {np.std(rmse_scores)}")

# R^2 scores
r2_scores = scores['test_r2']
print(f"R^2 scores for each fold: {r2_scores}")
print(f"Mean cross-validation R^2: {np.mean(r2_scores)} +- {np.std(r2_scores)}")

MSE scores for each fold: [118.02764143 180.44533202 118.71700097  71.6207585  112.32088294
  84.04857674  67.4299423  141.8165178  301.80261123 143.80788635]
Mean cross-validation MSE: 134.00371502842344 +- 64.99902699355584
RMSE scores for each fold: [10.86405272 13.43299416 10.89573315  8.46290485 10.59815469  9.16780109
  8.21157368 11.90867406 17.37246705 11.99199259]
Mean cross-validation RMSE: 11.29063480334996 +- 2.554462911417204
R^2 scores for each fold: [-0.42802181 -0.533047    0.07389434  0.49314434 -1.15413654  0.64750369
  0.59817354  0.37434619 -1.64466856 -0.73339393]
Mean cross-validation R^2: -0.23062057393028068 +- 0.753403951637112

SBP model

In [23]:
X = training_df.drop(columns=['Sample', 'subject_id', 'setup_n', 'trial_n', 'fc', 'DBP', 'SBP', 'setup_name', 'exp_name', 'Sample_c', 'exp_setup_name'])
y = training_df['SBP']

X = impute_nans(X)

# Initialise the AdaBoostRegressor
# They don't specify the model parameters so this will only be a rough replication
ada_boost = AdaBoostRegressor(random_state=1234)

# Perform 10-fold cross-validation with multiple scoring metrics
scoring_metrics = ['neg_mean_squared_error', 'r2']
scores = cross_validate(ada_boost, X, y, cv=10, scoring=scoring_metrics)

# Calculate RMSE from MSE scores
rmse_scores = np.sqrt(-scores['test_neg_mean_squared_error'])

print(f"RMSE scores for each fold: {rmse_scores}")
print(f"Mean cross-validation RMSE: {np.mean(rmse_scores)} +- {np.std(rmse_scores)}")

mse_scores = -scores['test_neg_mean_squared_error']
print(f"MSE scores for each fold: {mse_scores}")
print(f"Mean cross-validation MSE: {np.mean(mse_scores)} +- {np.std(mse_scores)}")

# R^2 scores
r2_scores = scores['test_r2']
print(f"R^2 scores for each fold: {r2_scores}")
print(f"Mean cross-validation R^2: {np.mean(r2_scores)} +- {np.std(r2_scores)}")

RMSE scores for each fold: [10.60402223 13.52220174 10.8928109  11.56966042 16.12008732 12.2218469
 13.26385209 13.10746765 25.05652699 11.1500631 ]
Mean cross-validation RMSE: 13.750853932372177 +- 4.075112868719547
MSE scores for each fold: [112.44528736 182.84993988 118.65332924 133.85704226 259.85721507
 149.37354164 175.92977222 171.80570825 627.82954459 124.32390711]
Mean cross-validation MSE: 205.69252876223905 +- 146.59921003572086
R^2 scores for each fold: [ 0.17302428  0.0342076   0.36982635 -0.00770015 -0.75973447  0.28869389
  0.40842428  0.2049211  -0.85013314  0.08878555]
Mean cross-validation R^2: -0.004968470401811953 +- 0.4204336364770589

> ##### **Leave One Subject Out**

KFold can be misleading in cases like this, as data leaks between the folds, causing the model's performance to be overestimated.

LeavePGroups out can train the model on 5 subjects, and evaluate on the 6th, giving a better indication of the model's ability to generalise.

DBP

In [24]:
X = training_df.drop(columns=['Sample', 'subject_id', 'setup_n', 'trial_n', 'fc', 'DBP', 'SBP', 'setup_name', 'exp_name', 'Sample_c', 'exp_setup_name'])
y = training_df['DBP']
groups = training_df['subject_id']

X = impute_nans(X)

# Initialise the AdaBoostRegressor
# They don't specify the model parameters so this will only be a rough replication
ada_boost = AdaBoostRegressor(random_state=1234)

# Leave-P-Groups-Out cross-validator
lpgo = LeavePGroupsOut(n_groups=1)

# Perform 10-fold cross-validation with multiple scoring metrics
scoring_metrics = ['neg_mean_squared_error', 'r2']
scores = cross_validate(ada_boost, X, y, groups=groups, cv=lpgo, scoring=scoring_metrics)

# Calculate RMSE from MSE scores
rmse_scores = np.sqrt(-scores['test_neg_mean_squared_error'])

# MSE scores
mse_scores = -scores['test_neg_mean_squared_error']
print(f"MSE scores for each fold: {mse_scores}")
print(f"Mean cross-validation MSE: {np.mean(mse_scores)} +- {np.std(mse_scores)}")

# RMSE scores
print(f"RMSE scores for each fold: {rmse_scores}")
print(f"Mean cross-validation RMSE: {np.mean(rmse_scores)} +- {np.std(rmse_scores)}")

# R^2 scores
r2_scores = scores['test_r2']
print(f"R^2 scores for each fold: {r2_scores}")
print(f"Mean cross-validation R^2: {np.mean(r2_scores)} +- {np.std(r2_scores)}")

MSE scores for each fold: [174.26927825 111.49933744 528.54619154 111.34034057 638.00137724
 770.43012148]
Mean cross-validation MSE: 389.0144410853847 +- 266.8253326359091
RMSE scores for each fold: [13.20110898 10.55932467 22.99013248 10.55179324 25.25868914 27.75662302]
Mean cross-validation RMSE: 18.38627858844426 +- 7.138571338405249
R^2 scores for each fold: [-0.725742   -0.18260039 -8.97663078  0.40189371 -1.92073902 -5.53054894]
Mean cross-validation R^2: -2.822394572852563 +- 3.361106127217254

SBP

In [25]:
X = training_df.drop(columns=['Sample', 'subject_id', 'setup_n', 'trial_n', 'fc', 'DBP', 'SBP', 'setup_name', 'exp_name', 'Sample_c', 'exp_setup_name'])
y = training_df['SBP']
groups = training_df['subject_id']

X = impute_nans(X)

# Initialise the AdaBoostRegressor
# They don't specify the model parameters so this will only be a rough replication
ada_boost = AdaBoostRegressor(random_state=1234)

# Leave-P-Groups-Out cross-validator
lpgo = LeavePGroupsOut(n_groups=1)

# Perform 10-fold cross-validation with multiple scoring metrics
scoring_metrics = ['neg_mean_squared_error', 'r2']
scores = cross_validate(ada_boost, X, y, groups=groups, cv=lpgo, scoring=scoring_metrics)

# Calculate RMSE from MSE scores
rmse_scores = np.sqrt(-scores['test_neg_mean_squared_error'])

# MSE scores
mse_scores = -scores['test_neg_mean_squared_error']
print(f"MSE scores for each fold: {mse_scores}")
print(f"Mean cross-validation MSE: {np.mean(mse_scores)} +-  {np.std(mse_scores)}")

# RMSE scores
print(f"RMSE scores for each fold: {rmse_scores}")
print(f"Mean cross-validation RMSE: {np.mean(rmse_scores)} +-  {np.std(rmse_scores)}")

# R^2 scores
r2_scores = scores['test_r2']
print(f"R^2 scores for each fold: {r2_scores}")
print(f"Mean cross-validation R^2: {np.mean(r2_scores)} +-  {np.std(r2_scores)}")

MSE scores for each fold: [384.39704015 107.65170971 235.57529463 410.78609098 335.34530056
 550.95070756]
Mean cross-validation MSE: 337.4510239311335 ± 139.2568960074603
RMSE scores for each fold: [19.60604601 10.37553419 15.34846229 20.26785857 18.31243568 23.4723392 ]
Mean cross-validation RMSE: 17.89711265645833 ± 4.140577555507515
R^2 scores for each fold: [-1.19413223  0.07972607 -0.44669244 -0.38366059 -0.62608611 -0.55259979]
Mean cross-validation R^2: -0.5205741814123216 ± 0.37647555934631605